<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Image Rollover with CSS</title>
<style type="text/css" media="screen"></style>
</head>
<body>
<a href="#" class="button">
 <span>RSS Feeds</span>
    <input type="button" value="??" style="width:120px;height:40px;border:2px #9999FF dashed;background-color:pink;">
<input type="button" value="??" style="width:120px;height:40px;border:3px orange double;background-color:pink;">

<div ng-show="base_view" class="labletitle"
	style="top: 54px; left: 0px;width: 70%; margin-top: 2%;margin-left: 22%;margin-right: 10%; background-color: #F7F4F4;   -webkit-box-shadow: 0 8px 20px rgba(100, 100, 100, 0.85); z-index: 10;">
    <a class="delete_right"></a></div>

<input type="button" value="??" style="width:120px;height:40px;border:2px blue none;background-color:pink;">


</a>
</body>
</html>