
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>域名解析信息</title>
        </head>
        <body>
            <table border="1" cellspacing="0" cellpadding="0" color='pink'>
                <thead>
                    <tr cellspacing="0" cellpadding="0">
                        <th>域名</th>
                        <th>ip信息1</th>
                        <th>ip所在城市1</th>
                        <th>ip信息2</th>
                        <th>ip所在城市2</th>
                    </tr>
                </thead>
                <tr>
<td>www.ledlighting.cn</td><td>103.195.151.16</td><td>香港XX</td>
<tr>
<tr>
<td>www.wangzhe100.com</td><td>45.199.180.56</td><td>香港XX</td>
<tr>
<tr>
<td>agent.wangzhe100.com</td><td>45.199.180.56</td><td>香港XX</td>
<tr>
<tr>
<td>agent.wzqp.app</td><td>45.199.180.31</td><td>香港XX</td>
<tr>

            </table>
        </body>
    </html>
    